body {
  background-image: url("images/phat-bg.jpg");
  background-size: 100%,auto;
  background-attachment: fixed;
  
  {
      background: yellow;
      color: white;
      font-family: sans-serif;
      text-align: center;
      padding: 40px 10px;
    }

    .hero {
  background: rgba(255, 255, 255, 0.15);
  padding: 10px 6px;
  font-size: 14px;
  top: 10px;
  font-weight: bold;
  color: red;
}

h1 {
  background: transparent;
  border: 5px solid rgb(218, 153, 14);    
  border-radius: 10px;
  top: 3px;
  padding: 10px;
  width: 100%;
  margin: auto;
  position: relative;
  text-align: center;
  font-size: 4.1em;
  font-weight: bold;
  color: red;
}

h2 {
  background: transparent;
  border: 2px solid red;  
  border-radius: 10px;
  top: 24px;
  padding: 10px;
  text-align: center;
  font-size: 2em;
  margin: auto;
  font-weight: bold;
  color: red;
}

h3 {
  background: transparent;
  border: 2px solid blue;
  border-radius: 10px;
  top: 12px;
  padding: 10px;
  width: 100%;  
  text-align: center;
  font-size: 1.6em;
  margin: auto;
  font-weight: bold;
  color: fuchsia;
}

h4 {
  background: transparent;
  border: 2px solid green;    
  border-radius: 10px;
  top: 18px;
  padding: 10px;
  width: 100%;
  text-align: center;
  font-size: 1.3em;
  margin: auto;
  font-weight: bold;
  color: red;
}
h5 { 
  background: transparent;
  text-align: center;
  font-size: 1.2em;
  margin: auto;
  font-weight: bold;
  color: crimson;
}
.subtitle {
  text-align: center;
  font-size: 1.5em;
  margin: 10px 0 10px;
  font-style: italic;
  color: deeppink;
}
/* Circle menu styles */
.circle-menu a {
  !position: fixed;
  width: 20px;
  height: 20px;
  line-height: 10px;
  border-radius: 10%;
  background: red;
  color: yellow;
  font: bold;
  text-decoration: red;
  font-weight: bold;
  text-align: center;
  transition: background 0.3s;
  border: 2px solid #ffd700;
}
.circle-menu a:hover {
  background: yellow;
  color: red;
  font: bold;
}
.circle-menu a:active {
  background: #ff8c00;
  color: white;
  font: bold;
}
.circle-menu a:nth-child(1) {
  top: 0;
  left: 12,5%;
  transform: translateX(-50%);
}
.circle-menu a:nth-child(2) {
  top: 0;
  left: 25%;
  transform: translateX(-50%);
}
.circle-menu a:nth-child(3) {
  top: 0;
  left: 37,5%;
  transform: translateX(-50%);
}
.circle-menu a:nth-child(4) {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
..circle-menu a:nth-child(5) {
  top: 0;
  left: 62,5%;
  transform: translateX(-50%);
}
.circle-menu a:nth-child(6) {
  top: 0;
  left: 75%;
  transform: translateX(-50%);
}
.circle-menu a:nth-child(7) {
  top: 0;
  left: 87,5%;
  transform: translateX(-50%);
}

.circle-menu .center {
  top: 3%;
  left: 3%;
  margin: -3px;
  background: #ff3333;
  color: #000;
}
.circle-menu .centercircle-menu a:nth-child(3) {
  top: 3%;
  left: 3%;
  margin: -3px;
  background: #ff3333;
  color: #000;
}
