/* style.css - giao diện cho weather + news */

#weather-widget {
  background: transparent /* var(--bg-light) */;
  color: red /* var(--text-light) */;
  position: fixed;
  right: 0px;
  left: 1500px;
  top: 1000px;
  padding: 0px;
  text-align: center;
  font-family: sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

#news-ticker {
  background: #222222b6;
  color: red; /* var(--text-light) */
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font: bold;
  padding: 10px;
  font-family: sans-serif;
  overflow: hidden;
  z-index: 9999;
}

marquee {
  font-weight: 500;
}
